.layout__container {
  height: 585px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.layout__content--container {
  flex-grow: 1;
  height: calc(600px - 64px);
  margin-top: 2rem;
}