@import './globals.css';

html {
  height: 586px;
  overflow: hidden;
}

body,
#root {
  height: 554px;
  width: 100%;
  min-width: 800px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}