.register__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translateY(-5%);
  position: relative;
}

.register__container  .register__form {
  display: flex;
  flex-direction: column;
  width: 37%;
  border-radius: 5px;
  gap: 1.5rem;
  animation: fadeIn 0.3s;
  transform: translateY(5%);
}

.register__container  .register__form .register__group {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.register__container  .register__form .register__group label {
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: white;
}

.register__container .register__actions {
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.register__container .register__actions h5 {
  color: rgb(213, 213, 213);
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
}

.register__container .register__actions h5:hover {
  color: rgba(255, 255, 255);
}